<div id="container" class="card" >

  <div id="theTarget" class="card card-img">
    <div class="image1 card-img"></div>
    <div class="image2 card-img"></div>
    <div class="image3 card-img"></div>
    <div class="image4 card-img"></div>
    <div class="image5 card-img"></div>
  </div>
  <div class="card-img-overlay d-flex align-items-center justify-content-center px-0">
    <div class="col-12 col-md-10 col-xl-8 card-text"><%= render 'public/searches/form' %></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>
