<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-12 text-center rounded px-0 py-5 mx-2 my-5">
      <%= image_tag '/images/You.png', class: "thanks-img" %>
      <h4 class = "text-center">ご注文ありがとうございました！</h4>
    </div>
  </div>
</div>
